
<div class="w-75 mx-auto mt-5 py-5">
  <h2>Register Form </h2>
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}} </div>

  <form (ngSubmit)="submitRegisterForm(registerForm)" [formGroup]="registerForm">
    <label for="name">name :</label>
    <input id="name" type="text" class="form-control mb-2" formControlName="name" />
    <div *ngIf="registerForm.get('name')?.errors&&registerForm.get('name')?.touched">
      <p *ngIf="registerForm.get('name')?.getError('required')" class="alert alert-danger py-1">name required </p>
      <p *ngIf="registerForm.get('name')?.getError('minlength')" class="alert alert-danger py-1">name minlength is 3</p>
      <p *ngIf="registerForm.get('name')?.getError('maxlength')" class="alert alert-danger py-1">name maxlength is 25</p>
    </div>

    <label for="email">email :</label>
    <input id="email" type="email" class="form-control mb-2" formControlName="email" />
    <div *ngIf="registerForm.get('email')?.errors&&registerForm.get('email')?.touched">
      <p *ngIf="registerForm.get('email')?.getError('required')" class="alert alert-danger py-1">email required </p>
      <p *ngIf="registerForm.get('email')?.getError('email')" class="alert alert-danger py-1">invalid E-mail Format</p>
    </div>


    <label for="password">password :</label>
    <input id="password" type="password" class="form-control mb-2" formControlName="password" />
    <div *ngIf="registerForm.get('password')?.errors&&registerForm.get('password')?.touched">
      <p *ngIf="registerForm.get('password')?.getError('required')" class="alert alert-danger py-1">password required
      </p>
      <!-- <p *ngIf="registerForm.get('password')?.getError('pattern')" class="alert alert-danger py-1">password must with start with uppercase</p> -->
    </div>

    <label for="rePassword">rePassword :</label>
    <input id="rePassword" type="password" class="form-control mb-2" formControlName="rePassword" />
    <div *ngIf="registerForm.get('rePassword')?.errors&&registerForm.get('rePassword')?.touched">
      <p *ngIf="registerForm.get('rePassword')?.getError('required')" class="alert alert-danger py-1">rePassword
        required </p>
      <!-- <p *ngIf="registerForm.get('rePassword')?.getError('pattern')" class="alert alert-danger py-1">rePassword must with start with uppercase</p> -->
    </div>

    <label for="phone">phone :</label>
    <input id="phone" type="number" class="form-control mb-2" formControlName="phone" />
    <div *ngIf="registerForm.get('phone')?.errors&&registerForm.get('phone')?.touched">
      <p *ngIf="registerForm.get('phone')?.getError('required')" class="alert alert-danger py-1">phone required </p>
      <!-- <p *ngIf="registerForm.get('phone')?.getError('pattern')" class="alert alert-danger py-1">phone must with start with number</p> -->
    </div>


    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-info">
      <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
      <span *ngIf="!isLoading"> Register </span>

    </button>
  </form>
</div>

<!-- <label for="last_name">last_name :</label>
<input id="name" type="text" class="form-control mb-2" formControlName="last_name"/>
<div *ngIf="registerForm.get('last_name')?.errors&&registerForm.get('last_name')?.touched" >
 <p *ngIf="registerForm.get('last_name')?.getError('required')" class="alert alert-danger py-1">last_name required </p>
 <p *ngIf="registerForm.get('last_name')?.getError('minlength')" class="alert alert-danger py-1">last_name minlength is 3 </p>
 <p *ngIf="registerForm.get('last_name')?.getError('maxlength')" class="alert alert-danger py-1">last_name maxlength is 10 </p>
</div> -->

<!-- <label for="age">age :</label>
<input id="age" type="number" class="form-control mb-2" formControlName="age"/>
<div *ngIf="registerForm.get('age')?.errors&&registerForm.get('age')?.touched" >
 <p *ngIf="registerForm.get('age')?.getError('required')" class="alert alert-danger py-1">age required </p>
 <p *ngIf="registerForm.get('age')?.getError('min')" class="alert alert-danger py-1">age minlength is 3 </p>
 <p *ngIf="registerForm.get('age')?.getError('max')" class="alert alert-danger py-1">age maxlength is 10 </p>
</div> -->