header{
  /* background-image: url(../../../assets/images/movie.webp); */
  background-image: url(src/assets/images/movie3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}