<div class="container mt-5">
<!-- <h2 class="  text-center" id="myElment">Welcome To Trending Movies</h2> -->
<div class="pt-5 d-flex justify-content-center">

  <nav aria-label="...">
    <ul class="pagination pagination-sm">

      <li *ngFor="let page of pages" (click)="test(page)" class="page-item cursor-pointer"><a class="page-link bg-transparent cursor-pointer text-info movie-pagination" >{{page}}</a></li>
      </ul>
  </nav>
</div>

<div class="row py-3 justify-content-center">
  <div class="pb-3 ">
    <div class="w-25 mx-auto">
    <input     type="text" [(ngModel)]="term" class="form-control " placeholder="search by name..." />
  </div>
  </div>

  <div *ngFor="let movie of trendingMovies |search:term" class="col-md-2">
    <div class="movie">
      <a [routerLink]="['/moviedetails',movie.id]">

        <img [src]="imgPrefix+movie.poster_path" class="w-100 rounded-top-3" alt="">
        <h3 class="h6 my-3">{{movie.title|watch}}</h3>
        <p class="text-secondary">{{movie.overview|seemor:15}}</p>
      </a>
    </div>
  </div>
</div>

</div>